{% extends 'base/base.html' %}
{% block page_content %}
    <main id="main">
        <!-- ======= Intro Details ======= -->
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">{{ estate.title }}</h1>
                            <div class="d-flex justify-content-between fa-2x"
                                 style="position: absolute;top: 20px;right: 0px;padding-left: 10px">
                            </div>

                            <span class="color-text-a">{{ estate.location }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Intro Details-->

        <!-- ======= Property Single ======= -->
        <section class="property-single nav-arrow-b">
            <div class="container">
                <div style="padding-bottom: 30px;" class="row justify-content-center">
                    <div class="col-lg-8">
                        <div id="property-single-carousel" style="height: 700px;" class="swiper">
                            <div class="swiper-wrapper">
                                <div style="padding-bottom: 5px" class="carousel-item-b swiper-slide">
                                    <img style="padding-bottom: 5px; height: 700px; object-fit: cover; width: 800px;"
                                         src="{{ estate.main_image.url }}" alt="{{ estate.title }}">
                                </div>

                                {% for estate_image in estate_images %}
                                    <div style="padding-bottom: 5px; " class="carousel-item-b swiper-slide">
                                        <img style="padding-bottom: 5px; height: 700px; object-fit: cover; width: 800px;"
                                             src="{{ estate_image.image.url }}" alt=""/>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div style="padding-top: 30px;"
                             class="property-single-carousel-pagination carousel-pagination"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">

                        <div class="row justify-content-between">
                            <div class="col-md-5 col-lg-4">
                                <div class="property-price d-flex justify-content-center foo">
                                    <div class="card-header-c d-flex">
                                        <div class="card-box-ico">
                                            <span class="bi bi-cash">{{ estate.price|floatformat:"-3g" }}</span>
                                        </div>
                                        <div class="card-title-c align-self-center">
                                            <h5 class="title-c">EUR </h5>
                                        </div>

                                    </div>
                                </div>
                                {% if request.user.is_authenticated %}
                                <a class="favourites" href="{% url 'favourite add' estate.pk %}"><i
                                        class="bi bi-bookmark-star big"></i>Favourites</a> {% endif %}
                                <span style="padding-left: 6em"><strong>(€ {{ price_per_sqm|floatformat }} sq.m)</strong></span>
                                <div class="property-summary">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="title-box-d section-t4">
                                                <h3 class="title-d">Quick Summary</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="summary-list">
                                        <ul class="list">
                                            <li class="d-flex justify-content-between">
                                                <strong>Estate ID:</strong>
                                                <span>{{ estate.id }}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Location:</strong>
                                                <span>{{ estate.location }}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Estate Type:</strong>
                                                <span>{{ estate.type }}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Status:</strong>
                                                <span>{{ estate.type_of_transaction }}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Area:</strong>
                                                <span>{{ estate.area|floatformat:"-3g" }}m
                          <sup>2</sup>
                        </span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Floor:</strong>
                                                <span>{{ estate.floor }}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Heating:</strong>
                                                <span>{{ estate.heating_type }}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Exposition:</strong>
                                                <span>{{ estate.exposition }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 section-md-t3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="title-box-d">
                                            <h3 class="title-d">Estate Description</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="property-description">
                                    <p class="description color-text-a">
                                        {{ estate.description }}
                                    </p>
                                </div>
                                <div class="row section-t3">
                                    <div class="col-sm-12">
                                        <div class="title-box-d">
                                            <h3 class="title-d">Amenities</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="amenities-list color-text-a">
                                    <ul class="list-a no-margin">
                                        {% for amenite in amenities %}
                                            <li>{{ amenite }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% if is_owner %}
                        <div class="col-md-12 text-center" style="padding-bottom: 20px">
                            <a href="{% url 'edit estate' estate.pk %}"
                               class="btn btn btn-outline-secondary btn-lg">
                                Edit </a>
                            <a href="{% url 'delete estate' estate.pk %}"
                               class="btn btn-outline-danger btn-lg">Delete</a>
                        </div>
                    {% else %}
                        <div class="col-md-12">
                            <div class="row section-t3">
                                <div class="col-sm-12">
                                    <div class="title-box-d">
                                        <h3 class="title-d">Contact Seller</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <img src="{{ seller.image }}" alt="{{ seller.description }}"
                                         class="img-fluid">
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="property-agent">
                                        <h4 class="title-agent">{{ seller.full_name }}</h4>
                                        <p class="color-text-a">
                                            {{ seller.description }}
                                        </p>
                                        <ul class="list-unstyled">
                                            <li class="d-flex justify-content-between">
                                                <strong>Phone:</strong>
                                                <span class="color-text-a">{{ seller.phone_number }}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Email:</strong>
                                                <span class="color-text-a">{{ seller.email }}</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section><!-- End Property Single-->

    </main><!-- End #main -->


{% endblock %}