{% extends 'base/base.html' %}

{% load static %}
{% load profile_complete_notification %}

{% block page_content %}
    {% profile_complete_notification %}

    <main id="main" style="padding-bottom: 100px;
padding-top: -5000px;">
        <!-- ======= Intro Single ======= -->
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">Profile Details</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Intro Single -->

        <!-- ======= Agent Single ======= -->
        <section class="agent-single">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="agent-avatar-box">
                                    <img src="

                                            {% if not profile.image %}{% static 'img/default-image.jpg' %}{% else %}{{ profile.image }}{% endif %}"
                                         alt="" class="agent-avatar img-fluid">
                                </div>
                            </div>
                            <div class="col-md-5 section-md-t3">
                                <div class="agent-info-box">
                                    <div class="agent-title">
                                        <div class="title-box-d">
                                            <h3 class="title-d">
                                                {% if not profile.first_name or not profile.last_name %}No name
                                                    {% else %}{{ profile.full_name }}
                                                {% endif %}
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="agent-content mb-3">
                                        <p class="content-d color-text-a">
                                            {% if not profile.description %}
                                                No description
                                            {% else %}
                                                {{ profile.description }}
                                            {% endif %}
                                        </p>
                                        <div class="info-agents color-a">
                                            <p>
                                                <strong>Mobile: </strong>
                                                <span class="color-text-a"> {% if not profile.phone_number %}
                                                    No number
                                                {% else %}{{ profile.phone_number }}{% endif %}</span>
                                            </p>
                                            <p>
                                                <strong>Email: </strong>
                                                <span class="color-text-a"> {{ profile.email }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Agent Single -->
    </main>
    <!-- End #main -->
    <main id="main">

        {% if perms.main.add_estate %}
            {% if is_owner %}
                <div class="col-md-12 text-center" style="padding-bottom: 50px">
                    <a href="{% url 'add estate' %}"
                       class="btn btn-outline-success btn-lg">Add Estate</a>
                    <a href="{% url 'upload images' %}"
                       class="btn btn-outline-success btn-lg">Add Images</a>
                </div>
            {% endif %}
        {% endif %}
        {% if perms.main.view_estate %}
            <h2 class="text-center" style="padding-bottom: 20px;">My Estates</h2>
            <section class="property-grid grid">
                <div class="container">
                    <div class="row">
                        {% for estate in estates %}
                            {% include 'base/base_estate.html' %}
                        {% endfor %}
                    </div>
                </div>
            </section><!-- End Property Grid Single-->
        {% endif %}

    </main>
{% endblock %}