{% extends 'base/base.html' %}
{% block page_content %}
    <div class="container mb-5">
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="text-center">Subscribe to our Newsletter</h1>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6" style="max-width: 100%">
                <div class="col-md-4 offset-md-4">
                    <!-- Form -->
                    <form style="padding-top: 20px" method="POST" action="{% url 'subscribe' %}">
                        {% csrf_token %}
                        {{ form }}
                        <div class="col-md-12 text-center" style="padding-top: 20px; padding-right: 100em">
                            <button class="btn btn-a" type="submit">Subscribe</button>
                        </div>
                    </form>
                    <!-- End Form -->

                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
{% endblock %}
