<!-- ======= Header/Navbar ======= -->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg" style="margin-bottom:2%">
    <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault"
                aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a class="navbar-brand text-brand" href="{% url 'homepage' %}">Django<span class="color-b">Estates</span></a>

        <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
            <ul class="navbar-nav">
{#                <li class="nav-item">#}
{#                    <a class="nav-link " href="{% url 'homepage' %}">Home</a>#}
{#                </li>#}
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'estates page' %}">Estates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'agents page' %}">Agents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'blog page' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'about page' %}">About</a>
                </li>

                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'login user' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'register user' %}">Register</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'favourite list' %}">Favourites</a>
                    </li>

                {% endif %}
            </ul>
        </div>
        <div style="position:absolute; top:24px;right:24px;">
            {% if request.user.is_authenticated %}
                <ul style="list-style-type: none;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Hello, {{ request.user }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item " href="{% url 'profile details' request.user.id %}">Profile</a>
                            <a class="dropdown-item " href="{% url 'profile edit' request.user.id %}">Edit Profile</a>
                            <a class="dropdown-item " href="{% url 'profile delete' request.user.id %}">Delete Profile</a>
                            <a class="dropdown-item " href="{% url 'change password' %}">Change Password</a>
                            <hr>
                            <a class="dropdown-item" href="{% url 'logout user' %}">Logout</a>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
<!-- End Header/Navbar -->